body{
    line-height: 2;
    overflow: hidden;
    margin-right: 0vw;
    margin-left: 0vw;
    margin-top: 10vh;
    background-color: #d9d9d9;
}

/* Containers */
.mainContainer{
    margin-left: 1vw;
    position: absolute;
    width: 98vw;
    height: 89vh;
    background-color: #8a8a8a70;
    border-radius: .5vh;
    overflow-y: auto;
}

.credentialContainer{
    margin-top: 10vh;
    margin-left: 29vw;
    position: absolute;
    width: 40vw;
    height: 50vh;
    background-color: #d9d9d9;
    border-radius: .5vh;
    overflow-y: auto;
    text-align: center;
} .credentialTitle{
    margin-bottom: 3vh;
    text-align: center;
} .loginInfo{
    width: 30.5vw;
    height: 6vh;
    background-color: #8a8a8a70;
    border: none;
    border-radius: .5vh;
    overflow-y: none;
    text-align: left;
}

a, button{
    padding-top: 1vh;
    width: calc(9vw + 2vh);
    height: 5vh;
    border-radius: .5vh;
    background-color: #d9d9d9;
    border: solid;
    border-color: #8a8a8a;
} .tablink:hover{
    background-color: #8a8a8a;
}
/* BUTTONS */
.tablink{
    top: 2vh;
    position: absolute;
} .homelink{
    position: absolute;
    top: 2vh;
    left: 1vw;
    width: 18vw;
    padding-left: 2vw;
    border: none;
} .centerButton{
    top: 40vh;
    left: 15vw;
    position: absolute;   
} #loginButton{
    height: 7vh;
} #signUpBtn{
    top: 78vh;
    left: 46vw;
    padding: 0;
    padding-left: 1vw;
    height: 4vh;
    width: 5vw;
} #page1{
    left: 30vw;
} #page2{
    left: 46vw;
} #page3{
    left: 62vw;
} #login{
    right: 1vw;
    background-color: #d9d9d9;
} #Login{
    right: 1vw;
    height: 5.6vh;
    color: white;
    background-color: #8a8a8a;
} #login:hover{
    background-color: #8a8a8a;
} #Login:hover{
    background-color: #8a8a8a;
}

/* TEXT */
h1{
    text-align: center;
} p{
    margin-left: 4vw;
    margin-right: 4vw;
}

/* Width */
::-webkit-scrollbar {
    width: .5vw;
}
/* Track */
::-webkit-scrollbar-track {
    background: #00000010;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background: #99999970;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #696969;
}  
